<html>
    <title>I love to Code</title>
    <body>
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">I love to code</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/thisisus">JavaScript</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Structure</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Important Links</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

       
      
      

      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>This Week: Ruby on Rails</h2>
              <p class="lead">Ruby on Rails is a platform that allows users to create web applications using Ruby for the Back-end as well as the Front-end.Below are some of the features Ruby on Rails has:</p>
              <ul>
                <li>Allows you to create and retrieve data from a relational database</li>
                <li>Uses the MVC framework to show the create web applications</li>
                <li>Rails itself is a Gem aka a library</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="services" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Rails Directory Structure</h2>
              <p class="lead">Rails has a very organized directory structure. This makes it easy for programmers to understand and be able to find certain components of their web application.</p>
            </div>
          </div>
        </div>
      </section>
  
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Ruby on Rails: Important Links</h2>
              <p class="lead">Shown below are some really useful links for more information about Ruby on Rails:</p>
              <ul>
                <li><a href="https://betterexplained.com/articles/starting-ruby-on-rails-what-i-wish-i-knew/">Ruby on Rails: Starting</a></li>
                <li><a href="https://betterexplained.com/articles/intermediate-rails-understanding-models-views-and-controllers/">Intermediate Rails: MVC</a></li>
                <li><a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; I love to Code 2018</p>
        </div>
        <!-- /.container -->
      </footer>

    </body>
</html>




